#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.review {
  border: solid;
  margin: 10px;
  width: 25%;
  padding: 10px;
}

.review_image {
  max-width: 70%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
}