#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.review_list {
  border: solid;
  margin: 10px;
  width: 25%;
  padding: 10px;
}

.review_image {
  max-width: 90%;
}

.single_review_image {
  max-width: 40%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.single_review {
  border: solid;
  padding: 10px;
  width: 90%;
}

.comments_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comments_list_item {
  width: 100%;
  border-top: dotted;
}

.comments_header {
  margin: 0;
  padding-bottom: 10px;
  text-decoration: underline;
  border-top: dotted;
}

.upvote-button {
  margin-bottom: 15px;
  border: solid;
  border-color: gray;
}

.nav-link {
  margin: 0 30px;
}

.error {
  background-color: salmon;
  border: solid;
}

.new-comment {
  border-top: dotted;
}

@media only screen and (max-width: 800px) {
  .review_list {
    width: 80%;
    margin: 10px auto;
  }
}
